<div class="row">
  <div class="col-lg-12">
    <div class="tile">
      <h2 class="tile-header center">This Month</h2>
      <div class="row row_title">
        <table class="table center">
          <thead>
            <tr>
              <th>Backlog</th>
              <th>Activated</th>
              <th class="border-right">Total</th>
              <th>PS Activated</th>
              <th>DA Activated</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td>$
                    <%= month.backlog_mrr %>
                  </td>
                  <td>$
                    <%= month.activatedMRR %>
                  </td>
                  <td class="border-right">$
                    <%= month.total_mrr %>
                  </td>
                  
                    <td>
                      <!-- <a href=" /reports/mrr/<%= date.month %>/<%= date.year %>/teams"> -->
                        $<%= month.ps_MRR %>
                      <!-- </a> -->
                    </td>
                  <td>$
                    <%= month.da_mrr %>
                  </td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>