<% include ../partials/header.ejs %>

  <div id="homenav">
    <% include ../partials/nav.ejs %>
  </div>

  <div class="jumbotron text-center hero">
    <div class="container">
      <h1>At Risk Projects</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <button class="btn btn-primary" id="download_csv">Download CSV</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Project Name</th>
          <th scope="col">Task Name</th>
          <th scope="col">Estimated Finish</th>
          <th scope="col">Deadline</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < projects.length; i++) { %>
          <% for(var i2=0; i2 < projects[i].lp_tasks.length; i2++) { %>
            <tr>
              <td>
                <a href="<%= 'https://app.liquidplanner.com/space/' + lp_space_id +'/projects/show/' + projects[i].lp_tasks[i2].dataValues.project_id %>"
                  target="_blank">
                  <%= projects[i].project_name %>
                </a>
              </td>
              <td>
                <%= projects[i].lp_tasks[i2].dataValues.task_name %>
              </td>
              <td>
                <%= moment(projects[i].lp_tasks[i2].dataValues.e_finish).format( 'MMM-DD-YYYY') %>
              </td>
              <td>
                <%= moment(projects[i].lp_tasks[i2].dataValues.deadline).format( 'MMM-DD-YYYY') %>
              </td>
            </tr>
            <% } %>
              <% } %>
      </tbody>
    </table>
  </div>
  <script>
    $('#download_csv').click(function () {
      // download the CSV
      $.ajax({
        url: "/api/download/at-risk-projects",
        type: 'GET',
        success: function (res) {
          //date time for the file download
          var date = new Date();
          var year = date.getFullYear()
          var month = date.getMonth() + 1     // "+ 1" becouse the 1st month is 0
          var day = date.getDate()
          var hour = date.getHours()
          var minutes = date.getMinutes();
          var secconds = date.getSeconds()
          console.log(res)
          var file = new Blob([res], {type: "text/csv"});
          var url = URL.createObjectURL(file);
          link = document.createElement('a')
          link.setAttribute('href', url)
          link.setAttribute('download', 'at_risk_projects'+'_'+month+'_'+day+'_'+year+'_'+hour+'_'+minutes+'_'+secconds+'.csv')
          link.click();
        }
      });
    })
  </script>

  <% include ../partials/footer.ejs %>