<% include ../partials/header.ejs %>
  <% include ../partials/nav.ejs %>
    <main class="app-content">

      <div class="app-title">
        <div>
          <h1>Update Data</h1>
          <p>A quick way to Update the Databases</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item">
            <i class="fa fa-home fa-lg"></i>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="tile center">
              <h4>Add NetSuite Data</h4>
              <hp>Upload via CSV</hp>
              <p><b>Last Update: </b> <%= moment(jobs['ns_backlog'].lastRun).format( 'MMM-DD-YYYY hh:MM:SS A') %></p>
              <p><b>Last Run Status: </b> <%= jobs['ns_backlog'].lastRunStatus %></p>
              <input type="file" id="files" class="form-control" accept=".csv" required />
              <button id="backlogUpload">Upload</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tile center">
              <h4>Update LP Data</h4>
              <p>Fetch Updated Data from the External Server</p>
              <p><b>Last Update: </b> <%= moment(jobs['external_update'].lastRun).format( 'MMM-DD-YYYY hh:MM:SS A') %></p>
              <p><b>Last Run Status: </b> <%= jobs['external_update'].lastRunStatus %></p>
              <p><b>Status: </b> <%= jobs['external_update'].status %></p>
              <button id="update_lp" class="center">Update</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tile center">
              <h4>Backfill LP Data</h4>
              <p>Fetch Project Team Assignments from LP</p>
              <p><b>Last Update: </b> <%= moment(jobs['backfill_lp'].lastRun).format( 'MMM-DD-YYYY hh:MM:SS A') %></p>
              <p><b>Last Run Status: </b> <%= jobs['backfill_lp'].lastRunStatus %></p>
              <button id="backfill_lp" class="center">Backfill</button>
          </div>
        </div>
      </div>
    </main>
    <script src="/js/plugins/papaparse.min.js"></script>
    <script>
      $('#backlogUpload').on("click", function (e) {
        e.preventDefault();
        $('#files').parse({
          config: {
            delimiter: ",",
            header: true,
            complete: submitUpdates,
          },
          before: function (file, inputElem) {
            //console.log("Parsing file...", file);
          },
          error: function (err, file) {
            console.log("ERROR:", err, file);
          },
          complete: function () {
            console.log("Done with all files");
          }
        })
      })
      function submitUpdates(results, file) {
        $.ajax({
          type: "POST",
          url: '/api/csv/netsuitebacklog/update',
          data: results,
          success: success,
          dataType: 'JSON'
        })
        console.log(results)
      }
      function success(data) {
        console.log(data)
      }
    </script>
    <script>
    $('#update_lp').click(function() {
      $.ajax({
          type: "get",
          url: '/api/projects/update',
          success: function (data) {

          },
          dataType: 'JSON'
        })
    })
    $('#backfill_lp').click(function() {
      $.ajax({
          type: "get",
          url: '/api/admin/teams/update',
          success: function (data) {
          },
          dataType: 'JSON'
        })
    })
    </script>
    <% include ../partials/footer.ejs %>