<% include ../partials/header.ejs %>
    <main class="app-content">

      <div class="app-title">
        <div>
          <h1>Update Data</h1>
          <p>A quick way to Update the Databases</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item">
            <i class="fa fa-home fa-lg"></i>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="tile center">
              <h4>Add NetSuite Data</h4>
              <hp>Upload via CSV</hp>
              <p><b>Last Update: </b> <%= moment(jobs['ns_backlog'].lastRun).format( 'MMM-DD-YYYY hh:MM:SS A') %></p>
              <p><b>Last Run Status: </b> <%= jobs['ns_backlog'].lastRunStatus %></p>
              <input type="file" id="files" class="form-control" accept=".csv" required />
              <button id="backlogUpload">Upload</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tile center">
              <h4>Update LP Data</h4>
              <p>Fetch Updated Data from the External Server</p>
              <p><b>Last Update: </b> <%= moment(jobs['external_update'].lastRun).format( 'MMM-DD-YYYY hh:MM:SS A') %></p>
              <p><b>Last Run Status: </b> <%= jobs['external_update'].lastRunStatus %></p>
              <button id="update_lp" class="center">Update</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tile center">
              <h4>Match LP LBS</h4>
              <p>Look for LP LBS tasks that are not matched with a project</p>
              <p><b>Last Update: </b> <%= moment(jobs['match_lbs'].lastRun).format( 'MMM-DD-YYYY hh:MM:SS A') %></p>
              <p><b>Last Run Status: </b> <%= jobs['match_lbs'].lastRunStatus %></p>
              <button id="backfill_lp" class="center">Match</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="tile center">
              <h4>Update Archived Projects</h4>
              <p>Update projects that are archived</p>
              <p><b>Last Update: </b> <%= moment(jobs['archived_projects'].lastRun).format( 'MMM-DD-YYYY hh:MM:SS A') %></p>
              <p><b>Last Run Status: </b> <%= jobs['archived_projects'].lastRunStatus %></p>
              <button id="archived_projects" class="center">Update</button>
          </div>
        </div>
        <div class="col-md-4">
         <div class="tile center">
             <h4>Update LBS Data</h4>
             <p>Pull dates and statuses from LP</p>
             <p><b>Last Update: </b> <%= moment(jobs['update_lbs'].lastRun).format( 'MMM-DD-YYYY hh:MM:SS A') %></p>
             <p><b>Last Run Status: </b> <%= jobs['update_lbs'].lastRunStatus %></p>
             <button id="update_lbs" class="center">Update</button>
         </div>
       </div>
      </div>
    </main>
    <script src="/js/plugins/papaparse.min.js"></script>
    <script>
      $('#backlogUpload').on("click", function (e) {
        e.preventDefault();
        $('#files').parse({
          config: {
            delimiter: ",",
            header: true,
            complete: submitUpdates,
          },
          before: function (file, inputElem) {
            //console.log("Parsing file...", file);
          },
          error: function (err, file) {
            console.log("ERROR:", err, file);
          },
          complete: function () {
            console.log("Done with all files");
          }
        })
      })
      function submitUpdates(results, file) {
        $.ajax({
          type: "PUT",
          url: '/api/lbs',
          data: results,
          success: success,
          dataType: 'JSON'
        })
        console.log(results)
      }
      function success(data) {
        console.log(data)
      }
    </script>
    <script>
    $('#archived_projects').click(function() {
      $.ajax({
          type: "post",
          url: '/api/admin/update/projects/archived',
          success: function (data) {

          },
          dataType: 'JSON'
        })
    })
    $('#update_lp').click(function() {
      $.ajax({
          type: "get",
          url: '/api/projects/update',
          success: function (data) {

          },
          dataType: 'JSON'
        })
    })
    $('#backfill_lp').click(function() {
      $.ajax({
          type: "get",
          url: '/api/admin/lbs/match',
          success: function (data) {
          },
          dataType: 'JSON'
        })
    })

        $('#update_lbs').click(function() {
      $.ajax({
          type: "get",
          url: '/api/admin/lbs/update',
          success: function (data) {
          },
          dataType: 'JSON'
        })
    })
    </script>
    <% include ../partials/footer.ejs %>