<% include ../partials/header.ejs %>
  <!-- Inclued extra css files -->
    <% include ../partials/nav.ejs %>
    <main class="app-content">

        <div class="app-title">
          <div>
            <h1>Deadline Passed</h1>
          </div>
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">
              <i class="fa fa-home fa-lg"></i>
            </li>
            <li class="breadcrumb-item">Project Status</li>
            <li class="breadcrumb-item active">
              <a href="#">Deadline Passed</a>
            </li>
          </ul>
        </div>

        <div class="row">
            <div class="col">
              <div class="tile">
    <table id="projects_table" class="table">
      <thead>
        <tr>
          <th scope="col">Project Name</th>
          <th scope="col">Task Name</th>
          <th scope="col">Deadline</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < tasks.length; i++) { %>
          <tr>
            <td>
              <a href="<%= 'https://app.liquidplanner.com/space/' + lp_space_id +'/projects/show/' + tasks[i].lp_project.id %>"
                target="_blank">
                <%= tasks[i].lp_project.project_name %>
              </a>
            </td>
            <td>
              <a href="<%= 'https://app.liquidplanner.com/space/' + lp_space_id +'/projects/show/' + tasks[i].id %>"
                target="_blank">
                <%= tasks[i].task_name %>
              </a>
            </td>
            <td>
              <%= moment(tasks[i].deadline).format( 'MMM-DD-YYYY') %>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</div>
</div>
</main>
  <% include ../partials/footer.ejs %>