<% include ../partials/header.ejs %>
  <% include ../partials/nav.ejs %>
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1>Professional Services Reporting Dashboard</h1>
          <p>A quick way to get up-to-date on all things Liquid Planner</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item">
            <i class="fa fa-home fa-lg"></i>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="tile">
            <h4 class="center">Total MRR</h4>
            <p class="center"><%= total_mrr %></p>   
          </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
              <h4 class="center"><%= moment(date).format( 'MMMM') %> Backlog MRR</h4>
              <p class="center">$ <%= backlog_mrr %></p>
            </div>
          </div>
          <div class="col-md-4">
              <div class="tile">
                <h4 class="center"><%= moment(date).format( 'MMMM') %> Activated  MRR</h4>
                <p class="center">$ <%= activatedMRR %></p>
              </div>
            </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <div class="tile">
              <h4 class="center">PS MRR</h4>
              <p class="center">null</p>   
            </div>
          </div>
          <div class="col-md-4">
              <div class="tile">
                <h4 class="center">SEM</h4>
                <p class="center">null</p>
              </div>
            </div>
            <div class="col-md-4">
                <div class="tile">
                  <h4 class="center">DA</h4>
                  <p class="center">null</p>
                </div>
              </div>
        </div>
    </main>
    <% include ../partials/footer.ejs %>