<% include ../partials/header.ejs %>
<script type="text/javascript" src="/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="/stylesheets/bootstrap-multiselect.css" type="text/css" />
<% include ../partials/nav.ejs %>
<main class="app-content">

 <div class="app-title">
  <div>
   <h1>Scheduled Implementation</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
   <li class="breadcrumb-item">
    <i class="fa fa-home fa-lg"></i>
   </li>
   <li class="breadcrumb-item">Project Status</li>
   <li class="breadcrumb-item active">
    <a href="#">Scheduled Implementation</a>
   </li>
  </ul>
 </div>
 <div class="row">
  <div class="col">
   <div class="tile">
    <div class="filters">
    </div>
    <table class="table" id="active_projects">
     <thead>
      <tr>
       <th scope="col">Project Name</th>
       <th scope="col">Team</th>
       <th scope="col"># of Locations</th>
       <th scope="col">LP Project Start Date</th>
       <th scope="col">Stage</th>
       <th scope="col">Total MRR</th>
       <th scope="col">Milestone Done</th>
      </tr>
     </thead>
     <tbody>
      <% for (let i=0; i < queue.length; i++) {%>
       <tr>
         <td><%= queue[i].id%></td>
         <td><%= queue[i].cft.name %></td>
         <td><%= queue[i].lbs.length %></td>
         <td><%= moment(queue[i].started_on).format('MMM-DD-YYYY') %></td>
         <!-- <td><%= queue[i].started_on %></td> -->
         <td><%= queue[i].dataValues.lastCompletedMilestone.name %></td>
         <td><%= queue[i].dataValues.total_mrr %></td>
         <td><%= moment(queue[i].dataValues.lastCompletedMilestone.date_done).format('MMM-DD-YYYY') %></td>
       </tr>
      <% } %>
     </tbody>
     <tfoot>
      <tr>

      </tr>
     </tfoot>
    </table>
   </div>
  </div>
 </div>
 <script type="text/javascript" src="/js/pages/active_projects.js"></script>
 <script type="text/javascript" src="/js/plugins/papaparse.min.js"></script>
 <% include ../partials/footer.ejs %>
</main>