<% include ../partials/header.ejs %>
<script type="text/javascript" src="/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="/stylesheets/bootstrap-multiselect.css" type="text/css" />
<% include ../partials/nav.ejs %>
<main class="app-content">

 <div class="app-title">
  <div>
   <h1>Scheduled Implementation</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
   <li class="breadcrumb-item">
    <i class="fa fa-home fa-lg"></i>
   </li>
   <li class="breadcrumb-item">Project Status</li>
   <li class="breadcrumb-item active">
    <a href="#">Scheduled Implementation</a>
   </li>
  </ul>
 </div>
 <div class="row">
  <div class="col">
   <div class="tile">
    <div class="filters">
    </div>
    <table class="table" id="active_projects">
     <thead>
      <tr>
       <th scope="col">Project Name</th>
       <th scope="col">Start Date</th>
       <th scope="col"># of Locations</th>
       <th scope="col">Total MRR</th>
      </tr>
     </thead>
     <tbody>
      <% for (let i=0; i < projects.length; i++) {%>
       <tr>
         <td><a href="https://app.liquidplanner.com/space/158330/projects/show/<%= projects[i].id %>" target="_blank"><%= projects[i].name %></a></td>
         <td><%= site_data.convert.moment(projects[i].start_date).format('MMM-DD-YYYY') %></td>
         <td><%= projects[i].locations %></td>
         <td><%= projects[i].total_mrr %></td>
       </tr>
      <% } %>
     </tbody>
     <tfoot>
      <tr>
       <!-- Count for total projects -->
       <!-- coumnt fot total mrr -->
       <!-- add sorting for dates -->
       <!-- add sorting for MRR -->
       <!-- make report exportable -->
      </tr>
     </tfoot>
    </table>
   </div>
  </div>
 </div>
 <script type="text/javascript" src="/js/pages/active_projects.js"></script>
 <script type="text/javascript" src="/js/plugins/papaparse.min.js"></script>
 <% include ../partials/footer.ejs %>
</main>