<div class="col-md-<%= cols %>">
  <% if (quick_look_report.link != null) { %>
  <a href="<%= quick_look_report.link %>">
    <% } %>
    <div class="tile">
      <h2 class="tile-header center">
        <%= quick_look_report.name %>
      </h2>
      <h4 class="center">Target: $
        <%= quick_look_report.target %>
      </h4>
      <div class="row row_title">
        <table class="table center col-md-12 center">
          <thead>
            <tr>
              <th>Current Backlog</th>
              <th>Activated</th>
              <th>Total</th>
              <th>Variance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$
                <%= quick_look_report.backlog %>
              </td>
              <td>$
                <%= quick_look_report.activated %>
              </td>
              <td>$
                <%= quick_look_report.total %>
              </td>
              <td class="<%= quick_look_report.class %> bold">$
                <%= quick_look_report.variance %>
              </td>
            </tr>
          </tbody>
        </table>
        <% if (quick_look_report.startingBacklog != null) { %>
        <table class="table center col-md-12 center">
          <thead>
            <tr>
              <th>Starting Backlog</th>
              <th>PS Starting Backlog</th>
              <th>DA Starting Backlog</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% if (quick_look_report.startingBacklog != null) { %>
              <td>
                $ <%= quick_look_report.startingBacklog %></td>
              <% } %>
              <td>
                $
                <%= quick_look_report.psStartingBacklog %>
              </td>
              <td>$
                <%= quick_look_report.daStartingBacklog %>
              </td>
            </tr>
          </tbody>
        </table>
        <% } %>
        <table class="table center col-md-12 center">
            <thead>
              <tr>
                <% if (quick_look_report.startingBacklog != null) { %>
                <th>% Backlog Activated</th>
                <% } %>
                <th>PS Activated</th>
                <th>DA Activated</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% if (quick_look_report.startingBacklog != null) { %>
                <td>
                  <%= quick_look_report.percentActivated %> %
                </td>
                <% } %>
                <td>
                  $
                  <%= quick_look_report.psActivated %>
                </td>
                <td>$
                  <%= quick_look_report.daActivated %>
                </td>
              </tr>
            </tbody>
          </table>
          
      </div>
    </div>
    <% if (quick_look_report.link != null) { %>
  </a>
  <% } %>
</div>