<% include ../../../partials/header.ejs %>
<% include ../../../partials/nav.ejs %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
<main class="app-content">
 <div class="app-title">
  <div>
   <h1>Current CFT Workload</h1>
   <p>Project level WIP for teams</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
   <li class="breadcrumb-item">
    <i class="fa fa-home fa-lg"></i>
   </li>
   <li class="breadcrumb-item">PS</li>
   <li class="breadcrumb-item active">Team Workload </li>
  </ul>
 </div>
 <% for(let i = 0; i < queue.length; i++) {%>
 <% if ( i === 0 || i === 3) { %>
 <div class="row">
  <% } %>
    <div class="col-md-4">
      <div class="tile">
        <h4 class="center">
          <%= queue[i].name %>
        </h4>
        <table class="table table-bordered center col-md-12 center">
          <thead>
            <tr>
              <th>Intake</th>
              <th>Scheduled Projects</th>
              <th>Active Projects</th>
              <th>WIP Limit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="/ps/reports/workload/cft/<%= queue[i].id %>/intake"> 
                  <%= queue[i].intake.length %>
                </a>
              </td>
              <td>
                <a href="/ps/reports/workload/cft/<%= queue[i].id %>/scheduled">
                  <%= queue[i].scheduled.length %>
                </a>
              </td>
              <td>
                <a href="/ps/reports/workload/cft/<%= queue[i].id %>/active">
                  <%= queue[i].active.length %>
                </a>
              </td>
              <td>
                <%= queue[i].wipLimit %>
              </td>
            </tr>
          </tbody>
        </table>
        <canvas id="chart-<%= queue[i].id %>" width="100" height="25"></canvas>
        <script>
          new Chart(document.getElementById("chart-<%= queue[i].id %>").getContext('2d'), {
            type: 'horizontalBar',
            data: {
              labels: [
                'Projects'
              ],
              datasets: [
                {
                  label: 'Intake',
                  data: [<%- JSON.stringify(queue[i].intake.length) %>],
                  backgroundColor: '#EB4132'
                },
                {
                  label: 'Scheduled',
                  data: [<%- JSON.stringify(queue[i].scheduled.length) %>],
                  backgroundColor: '#51A5CB'
                },
                {
                  label: 'Active',
                  data: [<%- JSON.stringify(queue[i].active.length) %>],
                  backgroundColor: '#052242'
                }
              ]
            },
            options: {
              layout: {
                padding: 0
              },
              legend: {
                display: true,
                position: 'top',
                labels: {
                  padding: 10,
                  fontSize: 12,
                  fontStyle: 'bold'
                }
              },
              scales: {
                xAxes: [
                  {
                    display: true,
                    stacked: true,
                    gridLines: {
                      display: false
                    },
                    ticks: {
                      suggestedMin: 0,
                      suggestedMax: 30
                    }
                  }
                ],
                yAxes: [
                  {
                    display: false,
                    stacked: true
                  }
                ]
              }
            }
          })
        </script>
      </div>
    </div>
  <% if ( i === 2 || i === queue.length -1 ) { %>
 </div>
 <% } %>
 <% } %>
</main>
<% include ../../../partials/footer.ejs %>
