<% include ../../../partials/header.ejs %>
<% include ../../../partials/nav.ejs %>
<main class="app-content">
  <div class="app-title">
    <div>
      <h1>Team Based MRR</h1>
      <p>All teams Activated MRR for
        <%= site_data.convert.moment(site_data.pageMonth + '/1/' + site_data.pageYear).format( 'MMM-YYYY') %>
      </p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">
        <i class="fa fa-home fa-lg"></i>
      </li>
      <li class="breadcrumb-item">PS</li>
      <li class="breadcrumb-item">Team Goals </li>
      <li class="breadcrumb-item"><a href="/ps/reports/mrr/teams">MRR</a></li>
      <li class="breadcrumb-item">
        <%= site_data.convert.moment(site_data.pageMonth + '/1/' + site_data.pageYear).format( 'MMM-YYYY') %>
      </li>
      <li class="breadcrumb-item active">
        <%= site_data.convert.moment(site_data.pageMonth + '/1/' + site_data.pageYear).format( 'MMM-YYYY') %>
      </li>
    </ul>
  </div>
  <% for(var i = 0; i < teamMrr.length; i++) { %>
  <% if ( i === 0 || i === 3) { %>
  <div class="row">
    <% } %>
    <div class="col-md-4">
      <div class="tile">
        <h4 class="center">
          <%= teamMrr[i].name  %>
        </h4>
        <table class="table center col-md-12 center">
          <thead>
            <tr>
              <th>
                <%= site_data.convert.moment(site_data.pageMonth + '/1/' + site_data.pageYear).format( 'MM-DD') %> Backlog</th>
              <th>Target</th>
              <th>Current Backlog</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>$<%= teamMrr[i].startingBacklog %></td>
              <td>$<%= teamMrr[i].target %></td>
              <td>
                <a href="<%= teamMrr[i].backlog.link %>">
                  $<%= teamMrr[i].backlog.value %>
                </a>
              </td>
              </a>
            </tr>
          </tbody>
        </table>
        <table class="table center col-md-12 center">
          <thead>
            <th>$ Activated</th>
            <th>% of Backlog</th>
            <th>% of target</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="<%= teamMrr[i].activated.link %>">
                  $
                  <%= teamMrr[i].activated.value %>
                </a>
              </td>
              <td class="<%= teamMrr[i].backlogPercent.class %> bold">
                <%= teamMrr[i].backlogPercent.percent %>%
              </td>
              <td class="<%= teamMrr[i].targetPercent.class %> bold">
                <%= teamMrr[i].targetPercent.percent %>%
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <% if ( i === 2 || i === teamMrr.length -1 ) { %>
  </div>
  <% } %>
  <% } %>
</main>
<% include ../../../partials/footer.ejs %>